@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #fafafa;
  --card: #0a0a0a;
  --card-foreground: #fafafa;
  --popover: #0a0a0a;
  --popover-foreground: #fafafa;
  --primary: #3b82f6;
  --primary-foreground: #fafafa;
  --secondary: #EFB108;
  --secondary-foreground: #fafafa;
  --muted: #EFB108;
  --muted-foreground: #94a3b8;
  --accent: #EFB108;
  --accent-foreground: #fafafa;
  --destructive: #EFB108;
  --destructive-foreground: #fafafa;
  --border: #EFB108;
  --input: #EFB108;
  --ring: #3b82f6;
  --radius: 0.5rem;
}

.dark {
  --background: #0a0a0a;
  --foreground: #fafafa;
  --card: #0a0a0a;
  --card-foreground: #fafafa;
  --popover: #0a0a0a;
  --popover-foreground: #fafafa;
  --primary: #3b82f6;
  --primary-foreground: #fafafa;
  --secondary: #EFB108;
  --secondary-foreground: #fafafa;
  --muted: #EFB108;
  --muted-foreground: #94a3b8;
  --accent: #EFB108;
  --accent-foreground: #fafafa;
  --destructive: #EFB108;
  --destructive-foreground: #fafafa;
  --border: #836206;
  --input: #EFB108;
  --ring: #3b82f6;
}

* {
  border-color: var(--border);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}